tr.no-items > td.colspanchange {
    text-align: center;
    font-weight: bolder;
    font-size: 16px !important;
}

.thumbnail.column-thumbnail > img {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.column-thumbnail {
    width: 50px;
}

.thumbnail.column-thumbnail > img {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d0d0d0;
    padding: 2px;
}

.thumbnail.column-thumbnail > img:hover {
    border-color: #7c7c7c;
}

#thumbnail > span {
    float: left;
    text-align: center;
    width: 100%;
}

.manage-column.column-thumbnail > span {
    float: left;
    text-align: center;
    width: 100%;
}